@import "compass";
@import "mixins";

$default-font-family: 'Apercu Regular', Calibri, Roboto, sans-serif; 
$dockbar-height: 60px;
$dockbar-and-nav-height: 120px;
$nav-height: 60px;
$nav-and-categories-height: 120px; 

/* typography */
$default-font-size: 16px;
$default-font-size-adjust:0.508;
$default-line-height: 20px;
$h1-font-size: 36px;
$h2-font-size: 28px;
$h3-font-size: $default-font-size;
$lead-font-size: 21px; 
$lead-line-height: 30px;
$letter-spacing-default: 0.1em;
$letter-spacing-wide: 0.2em;
$semi-bold: 600; 

/* colors */
$default-font-color: #2D2D2D;
$color-gray-green: #648889;
$color-light-gray: #ebebeb;
$color-turquois: #93eaee;

/* button */
$button-font-size: 35px;
$button-font-family: 'Amatic SC', cursive;

$full-image-height-lg: 720px;
$full-image-height-md: 558px;
$full-image-height-sm: 432px;
$full-image-height-xs: 400px;

@mixin color-scheme-turquois() {
	
	background-color: $color-turquois;
	
	h1 {
	   color: #fff;
	}
        
    .abstract {
        background-color: $color-turquois;
        h3 {
            color: #fff;
        }
        h2 {
           color: $color-gray-green; 
        }
    }
}


/* Unset input borders set by jQuery */
input {
    border: none; 
}

.aui {
	
/* global settings */

    html, body {
        height: 100% !important;
    }

    font-family: $default-font-family;
    font-size-adjust: $default-font-size-adjust;
        
    .alert {
        margin-bottom: 1.5em;
        margin-top: 1em; 
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-weight: $semi-bold;
    }
    
    h2 {
        font-size: $h2-font-size;
    }
    
    h3 {
        font-size: $h3-font-size;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-wide;
    }

    a:hover, a:focus {
        text-decoration: none;
    }
    
    form {
        margin: 0; 
    }
    
    body {
        font-family: $default-font-family;
    }
    
    @media (max-width: 767px) {
        body {
            padding:0; 
        }
    }
    
    #wrapper {
        padding: 0;
    }
    
    #content {
        font-size: $default-font-size;
    }
    
    .signed-in #content {
        margin-top: $dockbar-height; 
    }
    
    @media (max-width: 767px) {
        .container {
            padding: 0 20px;
        }
    }
    
/* Dockbar */
    
    .dockbar-user-notifications .dropdown-toggle .user-notifications-count {
        display: inline;
        padding: 2px 4px 2px;
        background-color: #FCF8E3; /* bootstrap alert */
        color: #C09853; /* bootstrap alert */
        border: 1px solid #FBEED5; /* bootstrap alert */
    }
    
    /* Override settings in dockbar.css  */
    /* and display #navigation on phones */
    /* and tablets by default.           */
    @include respond-to(phone, tablet) {
    
        #navigation {
            display: block; /* override settings in dockbar.css */    

            &.open {
                display: block;
            }
        }
    }
    
    .dockbar.navbar-static-top {
        position: fixed;
        z-index: 1040;
    }
    
/* Navigation */
    
    #navigation {
         
        text-transform: uppercase;
        font-size: $default-font-size;
        width: 100%;
        z-index: 10;
                
        .nav-collapse {
            @media (min-width: 980px) {
                float: right;
            }
        }
        
        /* Hide the default page */
        #navCollapse > :first-child {
            display: none; 
        }   
        
        .navbar-inner {
        
            background-image: none;            
            
            -webkit-box-shadow: none;
            -moz-box-shadow: none; 
            box-shadow: none;
            
            border: none;            
        }
        
        .portlet-site-map {
        
            float: right;
            
            .portlet-body {
                
                ul {
                    padding: 20px 0 0; 
                    list-style: none;  
                }
                
                li {
                    display: inline; 
                }
                
                a {
                    padding: 20px 10px; 
                    color:$default-font-color;
                }
            }
        }
        
        .language,
        .search {     
            float: right;
            
            a {
                padding: 20px 10px;
            }
        }
        
        .language .portlet-language,
        .search .portlet-search {
            display: none; 
        }       
    }
    
    #navigation.default-page,
    #navigation.affix .navbar-inner {
        background-color: $color-turquois;
    }
    
    #navigation .navbar-inner,              /* affix-top is set via js, which is too late on first load */
    #navigation.affix-top .navbar-inner {
        background-color: transparent;
    }
     
    .navbar {
    
        margin-bottom: 0; 
        
        .brand { 
            padding: 20px 0 0 30px;
            font-weight: $semi-bold;
            font-size: $default-font-size;
            letter-spacing: $letter-spacing-wide;
            text-shadow: none; 
        } 
        
        .nav { 
        
            > .active a, 
            > .active a:focus, 
            > .active a:hover {
                background-color : transparent;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }

            > li > a {
                padding: 20px 20px;
                text-transform: uppercase;
                text-shadow: none;
            }
            
            > li > a:focus,> li > a:hover{
                color:#333;
            }
        }
        
        .btn-navbar {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            text-shadow: none;
            color: $default-font-color;
        }
        
        .divider-vertical {
            height: $nav-height;
        }
    }
    
    @media (max-width: 767px){
        .navbar-fixed-top, 
        .navbar-fixed-bottom, 
        .navbar-static-top {
            margin: 0; 
        }
    }
        
    .portlet-language .portlet-borderless-container {
        min-height: 1em;
    }
    
    .signed-in #navigation {
        margin-top: 60px;
    } 
       
    
/* Web Content Templates */
    
    .intro {
    
        text-align: center;
                
        .abstract {
            text-align: center;
            padding: 20px 20px;
            //min-height: 290px;
        }        
                    
/*         .btn { */
/*             color: $default-font-color; */
/*             background: transparent; */
/*             border: 2px solid $default-font-color;  */
/*             box-shadow: none;  */
/*             -web-box-shadow: none; */
/*             font-size: $button-font-size;  */
/*             font-family: $button-font-family; */
/*             margin: 20px auto; */
/*             padding: 15px 25px; */
            
/*         }  */
        
        h1 {
            padding: 80px 0 20px;
        }
        
        h2 {
            margin-bottom: 20px; 
        }
        
        h3 {
             
        }
        
        .link {
            padding: 40px 0 100px;
        }
    } 
    
    .intro.with-image {
    
        text-align: center;
        background-color: transparent !important; 
        
		@media (max-width: 767px) {
		   min-height: $full-image-height-xs;
		}
		@media (min-width: 768px) {
		   min-height: $full-image-height-sm;
		}
		@media (min-width: 992px) {
		   min-height: $full-image-height-md;
		}
		@media (min-width: 1200px) {
		   min-height: $full-image-height-lg;
		}  
                
        h1  {
            
        }
        
        .keyvisual {
            position: absolute !important;
            width: 100%;
            height: 100% !important;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            .claim {
	           position: absolute;
	           top: 25%;
	           width: 100%;
	        }
        } 
        
        .abstracts {
            position: absolute;
            top: 75%;
            width: 100%;
        }
    }
    
    .intro.turquois {
        @include color-scheme-turquois();
    }
    
    .link {
    
        text-align: center; 
        margin: 0 auto; 
        padding: 20px 0 80px;
        
        a {
            border: 1px solid $default-font-color; 
            color: $default-font-color; 
            font-family: $button-font-family;
            font-size: $button-font-size; 
            padding: 10px 20px; 
            text-decoration: none; 
        }
        
        a:before {
            content: ''; 
        }
    }

    .logos {
    
        $logos-height: 120px;
    
        background: #ebebeb;
        height: $logos-height;
        border-top: 5px solid white;
        
        .logos-inner {
        
            text-align: center;
            line-height: $logos-height; /* center the div's content vertically */
            
            a {
                margin: 0 30px;
            }
            
            img {
                width: 180px;
                vertical-align: middle;
                opacity: 0.5;
                
				-webkit-filter: grayscale(100%);
				-webkit-transition: .5s ease-in-out; 
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
				filter: grayscale(100%);
				-moz-transition: .5s ease-in-out;
				-o-filter: grayscale(100%);
				-o-transition: .5s ease-in-out; 
			}
			     
			img:hover {
			
			    opacity: 0.8;
			    
				-webkit-filter: grayscale(0%);
				-webkit-transition: .5s ease-in-out; 
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
				filter: grayscale(0%);
				-moz-transition: .5s ease-in-out;
				-o-filter: grayscale(0%);
				-o-transition: .5s ease-in-out; 
            }  
        }
    }
    
    
    .slide-show {

        margin-bottom: 0; 
               
        h1 {
            margin-top: 200px;
            white-space: normal;
        }

/*         img { */
/*             position: absolute; */
/*             top: 0; */
/*             left: 0; */
/*             min-width: 100%; */
/*         } */
        
        .carousel-caption {
            background-color: transparent;
            position: static;
            max-width: 550px;
            padding: 0 20px;
            margin-top: 200px;
        }
    
        .item  {
                    
			@media (max-width: 767px) {
			   min-height: $full-image-height-xs;
			}
			@media (min-width: 768px) {
			   min-height: $full-image-height-sm;
			}
			@media (min-width: 992px) {
			   min-height: $full-image-height-md;
			}
			@media (min-width: 1200px) {
			   min-height: $full-image-height-lg;
			} 
        }
    } 
    
    .slide-show, 
    .statement {
    
        .carousel .container {
            position: relative;
            z-index: 9;
        }
        
        .carousel-caption {
            background-color: transparent;
            height: 300px;
            position: static;
            max-width: 550px;
            padding: 0 20px;
            margin-top: 100px;
            overflow: hidden;
            line-height: 150%;
            white-space: normal; /* Restore normal white-space behaviour
                                    (nowrap is required for scrollview, 
                                    see below) */
        }
        
        .carousel-control {
            color: $color-turquois;
            left: 0; 
            margin-top: 0;
            width: 55px;
            font-size: 80px;
            background-color: transparent;
            border: 0;
            z-index: 10;
        }
        
        .carousel-control.right {
            left: auto; 
        }
        
        .left.carousel-control span {
            transform: rotate(180deg);
            display: inline-block;            
        } 
        
        
        /* === scrollview styles === */
        
        /* To layout horizontal LIs */
        .scrollview-content {
            white-space:nowrap;
        }
        
        .item {
            display:inline-block;
        }
        
        /* For IE 6/7 - needs inline block hack */
        .item {
            *display:inline;
            *zoom:1;
        }   
    }
    
    .statement {
    
        background-color: $color-gray-green;
    
        .carousel .item {
            height: 500px;
            background-size: cover;
        }
    
        .carousel-caption h1,
        .carousel-caption .lead {
              margin: 0;
              line-height: 1.25;
              color: #fff;
        }
    }
    
    .story {

        .container {
            background: white; 
        }
        
        .content {
            margin: 0 auto 120px;

            > h1 {
                margin-top: 60px;
            }
        }
    
        .section-body {
        
            /* TODO: merge with intro-publisher .lead via mixin */
            margin-bottom: 20px;
        
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
            
            -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
            -moz-column-gap: 20px; /* Firefox */
            column-gap: 20px;
            
        }
        
        @media (max-width: 767px) {
        
            .section-body {           
                -webkit-column-count: 1; /* Chrome, Safari, Opera */
                -moz-column-count: 1; /* Firefox */
                column-count: 1;                
            }
        }        
        
        img {
            margin: 0 0 20px 0; 
        }
    }
    
    .toc {
        position: fixed; 
        margin-top: 60px; /* same as margin-top of content > h1 */
    }

/* Portlets */

    .portlet-asset-categories-navigation {
    
        width: 100%; 
        z-index: 10;
            
        .accordion {
            margin-bottom: 0; 
        }
    
        .portlet-body .taglib-asset-categories-navigation {
    
            background: #ebeae2;
            min-height: 140px;       
            
            a {
                color: gray;
                padding: 8px 15px;
                border: 1px solid gray; 
                font-size: $default-font-size; 
                text-transform: uppercase;
                margin-right: 15px;
            }
    
            a.tag-selected {
                border: 1px solid white; 
                background: white;
                font-weight: normal;
            }
    
            .tree-view {
                overflow: hidden;
            }
            
            .tree-node-leaf,
            .tree-node-content .tree-label {
                margin: 0; 
            }
            
            .lfr-asset-category-list span {
                padding: 0; 
            }
        
            .accordion-group,
            .accordion-inner {
                border: none; 
                padding: 0;
            }
            
            @media (min-width: 768px) {
                .accordion-inner {
                    margin-left: 40%;
                    width: 60%;
                }
            }
            
            .accordion-heading {
                
                display: none; 
                
                .accordion-toggle {
                    float: left;
                    padding: 0;
                }           
            }
            
            
            
            ul {
                margin: 20px 0;
                float: left; 
            }
            
            li {
                line-height: 50px;
                display: inline;
                float: left; 
                margin: 0; 
                padding: 0; 
            }
        }
    }
    
    .portlet-asset-categories-navigation,
    .portlet-asset-categories-navigation.affix, 
    .portlet-asset-categories-navigation.affix-top {
        position: fixed;
        top: $nav-height; 
    }

    .signed-in .portlet-asset-categories-navigation,
    .signed-in .portlet-asset-categories-navigation.affix,
    .signed-in .portlet-asset-categories-navigation.affix-top {
        top: $dockbar-and-nav-height; 
    }
    
        
    .signed-in .portlet-configuration.portlet-asset-categories-navigation {
        top: 20px; 
    }
   

    .portlet-asset-publisher {
        
        .asset-abstract {
            margin-bottom: 0; 
        }
    
        .asset-actions {
            font-size: $default_font_size; 
            float: none; 
        }
        
        .asset-metadata {
            margin: 8px 0 0 0;
            float: left; 
            text-transform: uppercase;
        }
        
        .asset-more {
            display: inline; 
            font-size: $default-font-size; 
            text-transform: uppercase; 
        }
        
        .asset-more a:before {
            content: "\f054"; /* chevron right */
            font-size: 12px; 
            margin-right: 2px; 
        }
        
        .asset-social-media {
        
            ul {
                display: inline;
                list-style: none; 
                margin-left: 0;  
            }
            
            li {
                display: inline;
                margin-left: 5px;  
            }
        }
        
        .asset-summary {
            display: inline; 
            margin-right: 5px;
        }
        
        .asset-title {
        
            border: none; 
            
            a {
                color: $default-font-color; 
                text-decoration: none; 
            }
            
            img {
                display: none; 
            }
        }
                
        h3 {
            font-size: $h1-font-size;
        }
        
        .metadata-publish-date {
            background: none;
            padding-left: 0; 
        }
        
        .vertical-separator:after {
            content: "/";
            margin: 0 10px;
        }
        
        /** 
            The class vocabualary-title is only
            available when the asset-categories-summary-hook
            is deployed */
        .vocabulary-title { 
            display: none; 
        }        
    }
    
    .portlet-asset-publisher.default-publisher {
    
        width: 100%;
        margin-top: 225px; /* navigation + asset-categories-navigation + margin-top */
    
        .asset-abstract {
            padding: 40px 0; 
        }
        
        .asset-abstract.invert {
            
            .asset-content,
            .asset-title a, 
            .metadata-publish-date {
                color: white; 
            }
        }
        
        .asset-content {
            margin-left: 0;
            margin-right: 0;  
            font-size: $lead-font-size; 
            line-height: $lead-line-height; 
            padding-bottom: 20px; 
            border-bottom: 4px solid #ebebeb; 
        }
    }  
    
    /** 
     * Limit the 40-60 configuration to specific asset-publishers
     * (those with the class "default-publisher").
     */
    .portlet-asset-publisher.default-publisher {
    
        .taglib-categorization-filter.entry-title {
            display: none; 
        }
    
        @media (min-width: 768px) {
        
           .asset-metadata {
                width: 40%;
                clear: none;  
            }   
        
            .asset-content,
            .asset-social-media,
            .asset-title {
                width: 60%; 
                margin-left: 40%;            
            }   
        } 
        
        @media (max-width: 767px) { 
        
            .asset-more,
            .asset-summary,
            .asset-title {
                clear: left;
            }   
        }
    }
    
    
    .portlet-asset-publisher.intro-publisher {
        width: 100%;
        
        .lead {
            margin-bottom: 20px;
        
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
            
            -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
            -moz-column-gap: 20px; /* Firefox */
            column-gap: 20px;            
        }
        
    }

    .portlet-asset-publisher.start-publisher {
    
        .asset-abstract {
            margin-top: 100px;
        }
        
        .asset-content {
            margin: 0 auto;
            border: none;
            font-size: $lead-font-size; 
            line-height: $lead-line-height;
        }
        
        .asset-metadata {
            text-align: center;
            float: none; 
            min-height: 0;
            margin: 0 auto 20px;   
        }
        
        .asset-metadata span {
            float: none;
        }
        
        .asset-more {
            display: none;
        }
        
        .asset-social-media {
            display:none; 
        }
               
        .asset-summary {
            display: block; 
            text-align: center; 
            max-width: 550px; 
            margin: 0 auto 80px; 
        }
               
        .asset-title {        
            text-align: center; 
            margin: 10px auto 40px; 
            max-width: 744px;
        }
        
        .asset-wrapper {
            background: white; 
        }
        
        .metadata-publish-date {
            background: none;
            color: $default-font-color; 
            padding-left: 0; 
        }
    }
    
    .portlet-asset-publisher.story-publisher {
        
        margin-top: $nav-and-categories-height; 
        width: 100%;
    
        .asset-content {
            margin: 0 auto;
            width: 100%;
            border: none; 
        }   
        
        .section {
            font-size: $default-font-size; 
            line-height: $default-line-height; 
        } 
    }
    
    .portlet-journal-content.first-display {
        margin-top: $nav-height;
    }
    
    .portlet-search {
    
        .form {
            margin-top: 20px;
        }
        
        #_3_facetNavigation {
            width: 100%; 
            
            li.facet-value {
                float: left; 
            }            
        }
        
        .result {
            width: 100%;
            margin-left: 0;  
        }
    }
    
/* Footer */


    #footer {
    
        background: $color-light-gray;
        padding-bottom: 20px;
        
        .container.first {
            padding: 120px 0 80px;
        }
        
        .copyright {
            text-transform: uppercase; 
        }
        
        .info {
        
            text-align: center; 
            margin-bottom: 25px; 
            
            .portlet-borderless.portlet-site-map {
                display: inline; 
            }

            .portlet-site-map {
            
                .portlet-borderless-container {
                    display: inline; 
                }
                        
                .portlet-body {
                
                    display: inline;
                
                    li {
                        display: inline; 
                    }
            
                    li:before {
                        content: "/";  
                    }  
                
                    a {
                        color: $default-font-color; 
                        margin: 20px 10px; 
                        text-decoration: underline; 
                        text-transform: uppercase; 
                    }
                
                    ul {
                        display: inline; 
                        list-style: none; 
                        margin-left: 10px; 
                    }
                }
         
            }           
        }

        h1.portlet-title  {
            
            color: $default-font-color;
            font-size: $default-font-size; 
            text-transform: uppercase;
            text-align: center;   
            
            img {
                display:none;
            }
        }
        
        .social {
        
            font-size: 30px;
            text-align: center; 
        
            ul {
                list-style: none;
                margin: 0; 
                padding: 0;  
            }
            
            li {
                display: inline;
                margin: 0 20px 0 0; 
            }
            
            .circle {
                background: $color-gray-green;
                border-radius: 100%;
                padding: 8px;
                text-align: center;
                width: 40px;
                height: 40px;
                display: inline-block;
                line-height: 150%;
            }
            
            a {
                color: $color-light-gray; 
            }
        }
        
        .span6 {
            margin-left: 0;
            min-height: 280px;
        }
        
        .span6:nth-child(-n+1) {
            border-right: 6px solid #cad3d3;
        }
             
        .status {
        
            ul {
                list-style: none; 
                padding: 0; 
                margin: 0;
            }
            
            li {
                display: inline; 
                margin: 20px 10px 20px 0; 
            }
        }
    }  
    

    
/* Liferay UI */
    
    .signed-in {
    
        .portlet-dynamic-data-mapping,
        .portlet-journal
        {
            margin-top: $nav-height; 
        }
    }
   
    .lfr-meta-actions {
        margin-bottom: 1em;
        padding-bottom: 1em;
    }
    
    /* This configuration is only meant as a workaround
       because otherwise the portlet actions would be hidden
       in the intro sections by following portlets */
    .portlet-journal-content .lfr-meta-actions {
        position: absolute; 
        top: 0;
        background: rgba(0,0,0,0.5);  
        z-index: 10; 
        float: left;
        width: auto; 
        padding: 1em; 
    }
    
    .portlet-journal-content .lfr-meta-actions:hover {
        background: rgba(0,0,0,0.9);
    }
    
    .asset-wrapper,     /* only available, if the asset-display-hook is deployed */
    .lfr-meta-actions,
    .portlet-asset-publisher,
    .portlet-body .taglib-asset-categories-navigation .accordion-group, 
    .portlet-dynamic-data-mapping,
    .portlet-journal,
    .portlet-search
    {
        margin: auto;
        width: 940px; /* bootstrap .container */
    }
    
    @media (min-width: 1200px) {
        .asset-wrapper,     /* only available, if the asset-display-hook is deployed */
        .lfr-meta-actions,
        .portlet-asset-publisher,
        .portlet-body .taglib-asset-categories-navigation .accordion-group, 
        .portlet-dynamic-data-mapping,
        .portlet-journal,
        .portlet-search
        {
            width: 1170px; /* bootstrap .container */
        }
    }
    
    @media (max-width: 979px) and (min-width: 768px) {
        .asset-wrapper,     /* only available, if the asset-display-hook is deployed */
        .lfr-meta-actions,
        .portlet-asset-publisher,
        .portlet-body .taglib-asset-categories-navigation .accordion-group, 
        .portlet-dynamic-data-mapping,
        .portlet-journal,
        .portlet-search
        {
            width: 724px; /* bootstrap .container */
        }
    }
    
    @media (max-width: 767px) {
        .asset-wrapper,     /* only available, if the asset-display-hook is deployed */
        .lfr-meta-actions,
        .portlet-asset-publisher,
        .portlet-body .taglib-asset-categories-navigation .accordion-group, 
        .portlet-dynamic-data-mapping,
        .portlet-journal,
        .portlet-search
        {
            width: 100%; /* bootstrap .container */
        }     
    }
}
