@import "compass";
@import "mixins";

$dockbar-height: 60px;
$dockbar-and-nav-height: 120px;
$nav-height: 60px;
$nav-and-categories-height: 120px; 

/* typography */
$regular-font-family: 'Apercu Pro Regular', Calibri, Roboto, sans-serif;
$italic-font-family: 'Apercu Pro Italic', Calibri, Roboto, sans-serif;
$medium-font-family: 'Apercu Pro Medium', Calibri, Roboto, sans-serif;
$bold-font-family: 'Apercu Pro Bold', Calibri, Roboto, sans-serif;
$light-font-family: 'Apercu Pro Light', Calibri, Roboto, sans-serif;

$default-font-size: 16px;
$small-font-size: 12px;
$default-font-size-adjust:0.508;
$default-line-height: 20px;
$h1-font-size: 36px;
$h2-font-size: 28px;
$h3-font-size: $default-font-size;
$lead-font-size: 21px; 
$lead-line-height: 30px;
$letter-spacing-wide: 0.1em;

/* colors */
$default-font-color: #2D2D2D;
$navigation-font-color: #648889;
$hover-font-color: darken($navigation-font-color, 10%);
$active-font-color: #222;
$frontpage-navigation-font-color: #fff;
$color-gray-green: #648889;
$color-light-gray: #EBEBEB;
$color-sand: #EBEAE2;
$color-turquois: #93EAEE;
$color-orange: #F5A623;

/* button */
$button-font-size: 21px;
$button-font-family: 'Qiltray Regular Condensed';
$button-letter-spacing: 0.1em;
$button-font-size-adjust:0.477; 
$button-padding: 10px 30px 8px;

/* slideshow */
$full-image-height-lg: 720px;
$full-image-height-md: 558px;
$full-image-height-sm: 432px;
$full-image-height-xs: 400px;


/* Mixins */
@mixin filter-item() {
	color: $navigation-font-color;
	padding: 5px 30px;
	border: 1px solid $navigation-font-color; 
	font-size: $default-font-size;
	text-transform: uppercase;
	letter-spacing: $letter-spacing-wide;
	margin-right: 15px;
}

@mixin filter-item-selected() {
	border: 1px solid white; 
	background: white;
}

@mixin rotate($degree) {
	transform: rotate($degree);
	-webkit-transform: rotate($degree);
	-moz-transform: rotate($degree);
	-o-transform: rotate($degree);
}


/* Unset input borders set by jQuery */
input {
    border: none; 
}



/* ----------------------------------------------- global settings */

html, body {
	width: 100%;
    height: 100%;
}

.aui {
    
    body, p {
        font-family: $regular-font-family;
        font-size: $default-font-size;
        color: $default-font-color;
    }
    
    p.lead, .lead {
       font-family: $light-font-family;
       font-size: $lead-font-size;
       line-height: $lead-line-height;
    }
    
    strong {
        font-family: $bold-font-family;
    }

    font-size-adjust: $default-font-size-adjust;
        
    .alert {
        margin-bottom: 1.5em;
        margin-top: 1em; 
    }
    
    h1 {
        font-family: $bold-font-family;
        font-size: $h1-font-size;
        letter-spacing: 0.02em;
    }
    
    h2 {
        font-family: $bold-font-family;
        font-size: $h2-font-size;
    }
    
    h3 {
        font-family: $medium-font-family;
        font-size: $h3-font-size;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-wide;
    }
    
    h1,h2,h3,h4,h5,h6,strong {
	    font-style: normal;
	    font-weight: normal;
	}
	
	cite {
        font-style: italic;
        font-weight: normal;
        letter-spacing: $letter-spacing-wide;
    }
    
    a {
        color: $navigation-font-color;
    }

    a:hover, 
    a:focus {
        text-decoration: none;
        color: $hover-font-color;
    }
    
    ul, ol {
        margin: 0 0 10px 10px;
    }
    
    form {
        margin: 0; 
    }
    
    #wrapper {
        padding: 0;
    }
    
    #content {
        font-size: $default-font-size;
    }
    
    .signed-in #content {
        margin-top: $dockbar-height; 
    }


    
/* ----------------------------------------------- Dockbar */
    
    .dockbar-user-notifications .dropdown-toggle .user-notifications-count {
        display: inline;
        padding: 2px 4px 2px;
        background-color: #FCF8E3; /* bootstrap alert */
        color: #C09853; /* bootstrap alert */
        border: 1px solid #FBEED5; /* bootstrap alert */
    }
    
    /* Override settings in dockbar.css  */
    /* and display #navigation on phones */
    /* and tablets by default.           */
    @include respond-to(phone, tablet) {
    
        #navigation {
            display: block; /* override settings in dockbar.css */    

            &.open {
                display: block;
            }
        }
    }
    
    .dockbar.navbar-static-top {
        position: fixed;
        z-index: 1040;
    }



/* ----------------------------------------------- Navigation */
    
    #navigation {
    
        font-family: $medium-font-family;
        font-weight: normal;
        text-transform: uppercase;
        width: 100%;
        z-index: 11;
        
        li {
	        font-size: $default-font-size;
	        font-weight: 600;
	        letter-spacing: $letter-spacing-wide;
	        .portlet-static-end {
	           li > a {
                font-size: $small-font-size;
                color: $navigation-font-color;
                &:hover {
                    color: $hover-font-color;
                }
	           }
	        }
        }
        
        /* Hide the default page */
        #navCollapse > :first-child {
            display: none; 
        }   
        
        .navbar-inner {
        
            background-image: none;            
            
            -webkit-box-shadow: none;
            -moz-box-shadow: none; 
            box-shadow: none;
            
            border: none;    
            
            .dropdown-menu {
                margin-top: -5px;
            }        
        }
        
        .portlet-site-map {
        
            float: right;
            
            .portlet-body {
                
                ul {
                    padding: 20px 0 0 0;
                    list-style: none;  
                }
                
                li {
                    display: inline;
                    
                    a.current {
                        color: $active-font-color;
                    }
                }
                
                a {
                    padding: 20px 10px; 
                }
            }
        }
        
        .language,
        .search {   
          
            float: right;
            
            a {
                padding: 20px 10px;
            }
        }
        
        .language .portlet-language,
        .search .portlet-search {
        
            display: none; 
        }       
    }
    
    /* unset bootstrap's default background */
    #navigation .navbar-inner,              /* affix-top is set via js, which comes too late on first load */
    #navigation.affix-top .navbar-inner {
        background-color: transparent;
    }
    
    .default-page #navigation .navbar-inner {
        background-color: $color-turquois;
    }
    
    #navigation.affix-top .navbar-inner {
    
        height: $nav-height *3;
    
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
    
    #navigation.affix .navbar-inner {
    
        background-color: $color-turquois;
        -webkit-transition: background-color 200ms ease-in;
	    -moz-transition: background-color 200ms ease-in;
	    -o-transition: background-color 200ms ease-in;
	    -ms-transition: background-color 200ms ease-in;
	    transition: background-color 200ms ease-in;
    }
    
    .start-page #navigation.affix-top .navbar-inner, /* affix-top is set via js, which comes too late on first load */
    #navigation.affix-top .navbar-inner {
    
        .brand {
            color: #fff;
        }
        
        li > a {
            color: #fff;
            &:hover {
                color: $navigation-font-color;
            }
        }
    }
     
    .navbar {
    
        margin-bottom: 0;
        
        .brand { 
            padding-top: 20px;
            font-family: $medium-font-family;
            font-size: $default-font-size;
            font-weight: normal;
            letter-spacing: $letter-spacing-wide;
            color: $navigation-font-color;
            text-shadow: none;
            &:hover {
                color: $hover-font-color;
            }
        } 
        
        .nav {
        
            margin: 0;
                
            > .active a, 
            > .active a:focus, 
            > .active a:hover {
                background-color : transparent;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }

            > li > a {
                padding: 20px 10px;
                text-shadow: none;
                color: $navigation-font-color;
            }
            
            > li > a:focus,
            > li > a:hover {
                color: $hover-font-color;
            }
        }
        
        .btn-navbar {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            text-shadow: none;
            color: $default-font-color;
        }
        
        .divider-vertical {
            height: $nav-height;
        }
    }
        
    .portlet-language .portlet-borderless-container {
        min-height: 1em;
    }
    
    .signed-in #navigation {
        margin-top: 60px;
    } 



/* --------------------------------------------------------------------- */
/* ----------------------------------------------- Web Content Templates */
    
    .intro {
    
        text-align: center;
                
        .abstract {
            text-align: center;
            padding: 0 15px 30px 15px;
            
            p {
                min-height: 3em;
            }
        }        
                    
        .btn {
            color: $navigation-font-color;
            background: transparent;
            border: 2px solid $navigation-font-color; 
            box-shadow: none; 
            -web-box-shadow: none;
            font-size: $button-font-size; 
            font-size-adjust: $button-font-size-adjust;
            font-family: $button-font-family;
            letter-spacing: $button-letter-spacing;
            text-transform: uppercase;
            margin-top: 1em;
            padding: $button-padding;;
            
        } 
        
        h1 {
            padding: 80px 0 20px;
        }
        
        h2 {
            margin-bottom: 20px; 
        }
        
        h3 {
             
        }
        
        .link {
            padding: 40px 0 100px;
        }
    } 
       
    .intro.with-image {
    
        background-color: transparent !important;
        
/*         @media (max-width: 767px) { min-height: $full-image-height-xs; } */
/*         @media (min-width: 768px) { min-height: $full-image-height-sm; } */
/*         @media (min-width: 992px) { min-height: $full-image-height-md; } */
/*         @media (min-width: 1200px) { min-height: $full-image-height-lg; } */
        
        .keyvisual {
	        width: 100%;
	        height: 100vh;
	        text-align:center;
	        background-position:center center;
	        background-repeat:no-repeat;
	        background-size:cover;
	        overflow:hidden;
	        display: table;
	        
	        .claim {
	           width: 100%;
	            height: 100%;
	            display: table-cell;
	            vertical-align: middle;
	        }
	    } 
        
        .abstracts {

            margin-top: -150px;
            
            .abstract {
                position: relative;
                
	            border-top: 15px solid transparent;
	            border-bottom: 15px solid transparent;
	            border-image: url(../images/border-wave.png) 15 0 15 0 round;
	            -webkit-border-image: url(../images/border-wave.png) 15 0 15 0 round;
	            -o-border-image: url(../images/border-wave.png) 15 0 15 0 round;
	            
	            -webkit-background-clip: padding;
				-moz-background-clip: padding;
				background-clip: padding-box;
				
				.btn {
		            background: white;
		            border: none;
		            
		            &:hover {
		              opacity: 0.75;
		              color: $hover-font-color;
		            }
                }
                
                a.club-link {
                
 	                position: absolute;
	                z-index: 9999;
	                top: -105px;
	                right: 15px;
	                
	                background: $color-orange;
	                border-radius: 100%;
	                text-align: center;
	                width: 120px;
	                height: 120px;
	                display: inline-block;
	                padding-top: 3px;
	                line-height: 150%;
	                
	                &:hover {
	                   background: darken($color-orange, 5%);
	                }
                }
                
                a.club-link span {
		            
		            font-family: $button-font-family;
		            font-size: 38px;
		            line-height: 34px !important;
		            text-transform: uppercase;
		            color: #fff;
		            padding-top: 25px;
		            display: block;
	                
	            }
            }
        }
    }
    
    .intro.gray-green {
		background-color: $color-gray-green;
		
		h1 {
		   color: #fff;
		}
	        
	    .abstract {
	        background-color: $color-gray-green;
	        h3 {
	            color: #fff;
	        }
	        h2 {
	           color: $color-turquois; 
	        }
	    }
    }
    
    .intro.sand {
	    background-color: $color-sand;
	    
	    h1 {
	       color: #fff;
	    }
	        
	    .abstract {
	        background-color: $color-sand;
	        h3 {
	            color: $color-turquois;
	        }
	        h2 {
	           color: $color-gray-green; 
	        }
	    }
    }
    
    .intro.turquois {
    
	    background-color: $color-turquois;
	    
	    h1 {
	       color: #fff;
	    }
	        
	    .abstract {
	        background-color: $color-turquois;
	        h3 {
	            color: #fff;
	        }
	        h2 {
	           color: $color-gray-green; 
	        }
	    }
    }



/* ----------------------------------------------- Frontpage Event Teaser */
    
    .portlet-journal-content.below-intro {
    
        text-align: center;
        padding-top: 6em;
    
        h1 {
            padding: 0.5em 0 1.5em;
        }
    }
    
    .portlet-asset-publisher.start-publisher {
    
        margin-bottom: 6em;
        
        .asset-abstract.sand,
        .asset-abstract.gray-green,
        .asset-abstract.turquois,
        .asset-abstract.light-gray {
            background-color: white !important;
        }
    
        .container {
        
            text-align: center; 
            background: white;
            
            .asset-metadata {
	           display: inline;
	           float: none;
	           min-height: 0;
	           margin: 0 auto;
	           font-family: $regular-font-family !important;
	           font-size: $lead-font-size;
	           text-transform: none !important;
	           letter-spacing: 0 !important;
	        }
        
	        .asset-metadata:after {
	            content: " _ "; 
	        }
	        
	        h3.asset-title {
	            display: inline;
	            font-family: $bold-font-family;
	            font-size: $lead-font-size !important;
	            padding-bottom: 0;
	            
	            a:hover {
	               color: $hover-font-color;
	            }
	        }
	        
	        .asset-more {
	            display: none;
	        }   
        }
    }
    
    .link {
    
        text-align: center; 
        margin: 0 auto; 
        padding-bottom: 120px;
        
        a {
            border: 2px solid $navigation-font-color; 
            color: $navigation-font-color; 
            font-family: $button-font-family;
            font-size: $button-font-size; 
            font-size-adjust: $button-font-size-adjust;
            letter-spacing: $button-letter-spacing;
            text-transform: uppercase;
            padding: $button-padding;; 
            text-decoration: none;
            
            &:hover {
                color: $hover-font-color;
                border: 2px solid $hover-font-color;
/*                 background: darken(white, 5%); */
            }
        }
        
        a:before {
            content: ''; 
        }
    }
    
    

/* ----------------------------------------------- Statement */

	.statement {
	    
	        padding: 180px 0;
	    
	        blockquote {
	            
	            border: none;
	            padding: 0;
	            margin: 0;
	            font-family: $bold-font-family;
	            font-size: $h1-font-size;
	            line-height: 125%;
	            white-space: normal; /* Restore normal white-space behaviour
	                         (nowrap is required for scrollview, 
	                         see below) */
	        }    
	    }
	              
	    .statement.gray-green {
	        background-color: $color-gray-green;
	        color: white;
	    }
	    
	    .statement.sand {
	        background-color: $color-sand;
	    }
	    
	    .statement.turquois {
	        background-color: $color-turquois;
	        color: white;
	    }
    
    
    
/* ----------------------------------------------- Statement & Slider */
    
    .slide-show, 
    .statement {
    
       positoin: relative;
        
        .carousel {
            background-color: transparent;
            overflow: hidden;
            text-align: center;
        }
        
        .carousel-control {
            color: $color-turquois;
            top: 50%;
            margin-top: -15px;
            left: 15px; 
            width: 60px;
            font-size: 60px;
            background-color: transparent;
            border: 0;
            z-index: 10;
        }
        
        .carousel-control.right {
            margin-right: 15px;
            left: auto; 
        }
        
        .left.carousel-control span {
			@include rotate(180deg); 
            display: inline-block;            
        } 
                
        /* To layout horizontal LIs */
        .scrollview-content {
            white-space: nowrap;
        }
        
        .item {
            display: inline-block;
        }
        
        /* For IE 6/7 - needs inline block hack */
        .item {
            *display: inline;
            *zoom: 1;
        }   
    }
    
    
/* ----------------------------------------------- Image Slider */

	.slide-show {
      
        @media (max-width: 767px) { height: $full-image-height-xs; }
	    @media (min-width: 768px) { height: $full-image-height-sm; }
	    @media (min-width: 992px) { height: $full-image-height-md; }
	    @media (min-width: 1200px) { height: $full-image-height-lg; }
	}
    
    

/* ----------------------------------------------- Story */
    
    .story {
    
        .keyvisual {
            position: absolute !important;            
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            margin: 0 !important;
            
            @media (max-width: 767px) { height: $full-image-height-xs; }
	        @media (min-width: 768px) { height: $full-image-height-sm; }
	        @media (min-width: 992px) { height: $full-image-height-md; }
	        @media (min-width: 1200px) { height: $full-image-height-lg; } 
            
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .container {
        
            position: relative;
            background: white;
            
            .content {
	            padding: 60px 0 120px;
	            
	            h1 {
	               margin-bottom: 1em;
	            }

                p.lead {
                   margin-bottom: 2em;
                }
                
                .section {
                
	                h2 {
	                    
	                }
	                
	                img {
                        margin: 3em 0;
                    }
	                
	                .section-body {
	                
                        @media (min-width: 768px) {
                        
	                        -webkit-column-count: 2;
	                        -moz-column-count: 2;
	                        column-count: 2;
	                        
	                        -webkit-column-width: 50%;
	                        -moz-column-width: 50%;
	                        column-width: 50%;
	    
	                        -webkit-column-gap: 30px;
	                        -moz-column-gap: 30px;
	                        column-gap: 30px;
                        }
                        
                        img {
	                        margin: 1.5em 0;
	                    }
	                }
                }
	        }
        }
        
        
    
/*         .section-body { */
        
/*             TODO: merge with intro-publisher .lead via mixin */
/*             margin-bottom: 20px; */
        
/*             -webkit-column-count: 2; Chrome, Safari, Opera */
/*             -moz-column-count: 2; Firefox */
/*             column-count: 2; */
            
/*             -webkit-column-gap: 20px; Chrome, Safari, Opera */
/*             -moz-column-gap: 20px; Firefox */
/*             column-gap: 20px; */
            
/*         }        */
        
/*         img { */
/*             margin: 0 0 20px 0;  */
/*         } */


    }
    
    .toc {
        position: fixed; 
        margin-top: 60px; /* same as margin-top of content > h1 */
    }
    
    

/* ----------------------------------------------- Logoleiste im Footer */

    .logos {
    
        $logos-height: 120px;
    
        background: #ebebeb;
        height: $logos-height;
        border-top: 5px solid white;
        
        .logos-inner {
        
            text-align: center;
            line-height: $logos-height; /* center the div's content vertically */
            
            a {
                margin: 0 60px;
            }
            
            img {
                width: 120px;
                vertical-align: middle;
                opacity: 0.3;
                
                -webkit-filter: grayscale(100%);
                -webkit-transition: .5s ease-in-out; 
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                filter: grayscale(100%);
                -moz-transition: .5s ease-in-out;
                -o-filter: grayscale(100%);
                -o-transition: .5s ease-in-out; 
            }
                 
            img:hover {
            
                opacity: 0.8;
                
                -webkit-filter: grayscale(0%);
                -webkit-transition: .5s ease-in-out; 
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                filter: grayscale(0%);
                -moz-transition: .5s ease-in-out;
                -o-filter: grayscale(0%);
                -o-transition: .5s ease-in-out; 
            }  
        }
    }

/* Portlets */

	/** 
	 * Helper classes for the positioning of portlets
	 */
	 
    /** 
     * Whenever an asset-publisher is placed below
     * an .intro(.with-image), we need to pull it
     * down, since the .abstracts wrapper is positioned
     * absolute
     */
/*     .below-intro { */
/*     	margin-top: 360px; */
/*     } */
    
    .below-navigation {
    	padding-top: $nav-height; 
    }
     
    .signed-in .below-navigation {
    	padding-top: $dockbar-and-nav-height; 
    }

    .portlet-asset-categories-navigation {
    
        width: 100%; 
        z-index: 10;
        background: $color-sand;
        
		-webkit-transition: max-height 0.2s; 
		-moz-transition: max-height 0.2s; 
		-ms-transition: max-height 0.2s; 
		-o-transition: max-height 0.2s; 
		transition: max-height 0.2s;
        
		max-height: 160px; 
		overflow: hidden; 
		            
        .accordion {
            margin-bottom: 0;
        }
    
        .portlet-body .taglib-asset-categories-navigation {
    
            background: $color-sand;
            min-height: 140px;       
                
            a {
				@include filter-item(); 
            }
    
            a.tag-selected {
				@include filter-item-selected(); 
            }
    
            .tree-view {
                overflow: hidden;
            }
            
            .tree-node-leaf,
            .tree-node-content .tree-label {
                margin: 0; 
            }
            
            .tree-node-over .tree-label {
            	text-decoration: none; 
            }
            
            .lfr-asset-category-list span {
                padding: 0; 
            }
        
        	.accordion-group {
/*                 width: 65.81197%; = bootstrap .span8 */
/*                 margin-left: 36.75213675213675%; bootstrap .offset4 */
        	}
        
            .accordion-group,
            .accordion-inner {
                border: none; 
                padding: 0;
            }
            
            .accordion-heading {
                
                .accordion-toggle:before {
                
                    content: "\2304";
 
                }
                
                .accordion-toggle {
                          
	                position: fixed; 
	                right: 0; 
                
	                font-size: $h2-font-size;
                
                    background-color: $color-sand;
                    color: $navigation-font-color;
					padding: 5px 15px 20px; 
                    
                    .title-text {
                        display: none; 
                    }
                    
       				@include rotate(180deg); 
                }           
            }
            
            ul {
                margin: 15px 0;
                float: left; 
            }
            
            li {
                line-height: 45px;
                display: inline;
                float: left; 
                margin: 0; 
                padding: 0; 
            }
        }
		
		.portlet-borderless-container {
			min-height: 0; 
		}
		
		&.categories-auto-closed,
		&.categories-closed {
			max-height: 0; 
			
	        .portlet-body .taglib-asset-categories-navigation {
				min-height: 0; 
	            
				.accordion-toggle {
					@include rotate(0); 
				}
			}
		}				
    }
    
    .portlet-asset-categories-navigation,
    .portlet-asset-categories-navigation.affix, 
    .portlet-asset-categories-navigation.affix-top {
        position: fixed;
        top: $nav-height;
    }

    .signed-in .portlet-asset-categories-navigation,
    .signed-in .portlet-asset-categories-navigation.affix,
    .signed-in .portlet-asset-categories-navigation.affix-top {
        top: $dockbar-and-nav-height; 
    }
    
        
    .signed-in .portlet-configuration.portlet-asset-categories-navigation {
        top: 20px; 
    }
   

    .portlet-asset-publisher {
    
        width: 100%;
        
		-webkit-transition: margin-top 0.2s; 
		-moz-transition: margin-top 0.2s; 
		-ms-transition: margin-top 0.2s; 
		-o-transition: margin-top 0.2s; 
		transition: margin-top 0.2s;
        
        .asset-abstract {
        
            margin-bottom: 0; 
            padding: 60px 0;
            
            
            .container {
                        
                .asset-metadata {
                
                    font-family: $medium-font-family;
		            text-transform: uppercase;
		            letter-spacing: $letter-spacing-wide;
		            
		            padding-top: 1em;
		            
		            .vertical-separator::after {
			            content: "/";
			            margin: 0 7px;
			        }
			        
			        .taglib-asset-categories-summary {   /* separator if more than one category */
			            a:nth-child(3n) {
					         &::before {
					            content: "/";
					            color: $default-font-color;
	                            margin: 0 7px 0 0;
					         }
                        }
			        }
			        
			        .taglib-asset-categories-summary .asset-category {
                        padding-right: 0;
                    }
			        
                    .metadata-publish-date {
			            background: none;
			            padding-left: 0;
			            color: $default-font-color;
			        }
			        
                }
                
                h3.asset-title {
                
	                font-family: $bold-font-family;
		            font-size: $h1-font-size;
		            text-transform: none;
		            letter-spacing:  0.02em;
        
		            padding: 0 0 0.5em 0;
		            margin: 0;
		            border: none; 
		            
		            a {
		                color: $default-font-color; 
		                text-decoration: none;
		                &:hover {
		                    color: $hover-font-color;
		                }
		            }
		            
		            img {
		                display: none; 
		            }
		        }
		        
		        .asset-content {
		        
    		        margin-left: 0;
		            margin-right: 0;
		            font-size: $lead-font-size; 
		            line-height: $lead-line-height; 
		            padding-bottom: 30px; 
		            border-bottom: 5px solid #ebebeb;
		        
			        .asset-summary {
			             display: inline;
			             font-family: $light-font-family;
			        }
			        
		            .asset-more {
			             display: inline;
			             font-size: $default-font-size; 
			             text-transform: uppercase;
			             letter-spacing: $letter-spacing-wide;
			             margin-left: 5px;
			             a:before {
				            content:"\203A"; /* chevron right */
				            margin-right: 3px; 
				        }
			        }
		        }
		        
		        .asset-social-media {
        
		            ul {
		                display: inline;
		                list-style: none; 
		                margin-left: 0;  
		            }
		            
		            li {
		                display: inline;
		                margin-left: 5px;  
		            }
		        }
            }
            
            .asset-actions {
	            font-size: $default_font_size; 
	            float: none; 
	        }
	        
	        &.gray-green {
        
	            background-color: $color-gray-green;
	            color: white;
	            
	            .asset-metadata .metadata-publish-date {
	              color: white;
	            }
	            
	            a {
	              color: $color-turquois;
	              &:hover {
	                  color: darken($color-turquois, 20%);
	              }
	            }
	            
	            h3.asset-title a {
	              color: white;
	              &:hover {
	                  color: $color-turquois;
	              }
	            }
	            
	            .asset-content {
	              border-bottom: 5px solid #73A0A2;
	            }
	        }
	        
	        &.light-gray {
	            background-color: $color-light-gray;
	            border-top: 5px solid white;
	            .asset-content {
	              border-bottom: 5px solid #F5F5F5;
	            }
	        }
	        
	        &.sand {
	            background-color: $color-sand;
	            .asset-content {
	              border-bottom: 5px solid #F5F4F0;
	            }
	        }
	    
	        &.turquois {
	            background-color: $color-turquois;
	            .asset-content {
	              border-bottom: 5px solid #C9F4F6;
	            }
	        }
        }



        /** 
            The class vocabualary-title is only
            available when the asset-categories-summary-hook
            is deployed */
        .vocabulary-title { 
            display: none; 
        }
        
        .taglib-categorization-filter.entry-title {
            display: none; 
        }
        
        &.default-publisher {
	        margin-top: 184px; /* navigation + asset-categories-navigation + margin-top */
        }
        
        &.start-publisher {
        	.asset-abstract {
        		padding: 0; 
        	}
        }
        
        &.categories-auto-closed,
        &.categories-closed {
	        margin-top: 40px;
        }
    }
    
    .portlet-asset-publisher.event-publisher {
    
		.asset-abstract:nth-child(even) {
			background: $color-sand;
		}
        
        .taglib-header {
            display: none; 
        }
    }
    
    .portlet-asset-publisher.story-publisher {
        
        margin-top: $nav-height; 
        width: 100%;
    
        .asset-content {
            margin: 0 auto;
            width: 100%;
            border: none; 
        }   
        
        .section {
            font-size: $default-font-size; 
            line-height: $default-line-height; 
        } 
        
        .taglib-header {
            display: none; 
        }
    }
    
    .portlet-journal-content.first-display {
        margin-top: $nav-height;
    }
    
    .portlet-site-map.project-sections {
    
    	background: $color-sand;
		position: fixed; 
		top: 0;
		z-index: 10; 
		width: 100%;   	
    	
    	a {
			@include filter-item();
    	}
    	
    	a.current {
			@include filter-item-selected(); 
    	}
    	
    	.portlet-borderless-container {
    		min-height: 0; 
    	}

    	li {
    		display: inline; 
    	}
    	
    	ul {
    		margin: 15px 0; 
    		list-style: none; 
    	}
    	
    	
    }
    
    .portlet-search {
    
        .form {
            margin-top: 20px;
        }
        
        #_3_facetNavigation {
            width: 100%; 
            
            li.facet-value {
                float: left; 
            }            
        }
        
        .result {
            width: 100%;
            margin-left: 0;  
        }
    }
    
/* Footer */


    #footer {
    
        background: $color-light-gray;
        padding-bottom: 20px;
        
        .container.first {
            padding: 120px 0 80px;
        }
        
        .copyright {
            font-size: $small-font-size;
            color: $navigation-font-color;
            text-transform: uppercase;
            letter-spacing: $letter-spacing-wide;
        }
        
        .info {
        
            text-align: center; 
            margin-bottom: 25px; 
            
            .portlet-borderless.portlet-site-map {
                display: inline; 
            }

            .portlet-site-map {
            
                .portlet-borderless-container {
                    display: inline; 
                }
                        
                .portlet-body {
                
                    display: inline;
                    font-size: $small-font-size;
                
                    li {
                        display: inline;
                        margin: 0 3px;
                    }
            
                    li:before {
                        content: "/ ";
                        color: $navigation-font-color;
                    }  
                
                    a {
                        color: $navigation-font-color; 
                        text-decoration: underline; 
                        text-transform: uppercase;
                        letter-spacing: $letter-spacing-wide;
                        margin-left: 5px;
                    }
                
                    ul {
                        display: inline; 
                        list-style: none; 
                        margin-left: 0; 
                    }
                }
         
            }           
        }

        h1.portlet-title  {
            
            color: $navigation-font-color;
            font-size: $default-font-size; 
            text-transform: uppercase;
            letter-spacing: $letter-spacing-wide;
            text-align: center;   
            
            img {
                display:none;
            }
        }
        
        
        
/* ----------------------------------------------- Social Media Icons */
        
        .social {
        
            font-size: 30px;
            text-align: center;
            padding: 1.5em 0;
        
            ul {
                list-style: none;
                margin: 0; 
                padding: 0;  
            }
            
            li {
                display: inline;
                margin: 0 15px 0 0; 
            }
            
            .circle {
            
                background: $color-gray-green;
                border-radius: 100%;
                text-align: center;
                width: 60px;
                height: 60px;
                display: inline-block;
                line-height: 150%;
                
                &:hover {
                    background: $color-turquois;
                }
                
                span::before {
                    margin-top: 14px;
                }
            }
            
            a {
                color: $color-light-gray;
                &:hover {
                    color: $color-gray-green;
                }
            }
        }
        
        .span6 {
            margin-left: 0;
            min-height: 280px;
        }
        
        .span6:nth-child(-n+1) {
            border-right: 6px solid #cad3d3;
        }
             
        .container.status {
        
            color: red;
            padding: 30px 0;
            border-top: 5px solid red;        
            ul {
                list-style: none; 
                padding: 0; 
                margin: 0;
            }
            
            li {
                display: inline; 
                margin: 20px 10px 20px 0; 
            }
        }
    }  
    

    
/* Liferay UI */
    
    .signed-in {
    
        .portlet-dynamic-data-mapping,
        .portlet-journal
        {
            margin-top: $nav-height; 
        }
    }
   
    .lfr-meta-actions {
        margin-bottom: 1em;
        padding-bottom: 1em;
    }
    
    /* This configuration is only meant as a workaround
       because otherwise the portlet actions would be hidden
       in the intro sections by following portlets */
    .portlet-journal-content .lfr-meta-actions {
        position: absolute; 
        top: 0;
        background: rgba(0,0,0,0.5);  
        z-index: 10; 
        float: left;
        width: auto; 
        padding: 1em; 
    }
    
    .portlet-journal-content .lfr-meta-actions:hover {
        background: rgba(0,0,0,0.9);
    }
    
/* media-queries */

/* Probably this needs more cleanup, but we start with collecting them the queries
   at the end of the document */
   
    
    @media (max-width: 767px) {
        body {
            padding:0; 
        }
        
        .container {
            padding: 0 20px;
        }
        
        .navbar-fixed-top, 
        .navbar-fixed-bottom, 
        .navbar-static-top {
            margin: 0; 
        }
        
	    .section-body {           
	        -webkit-column-count: 1; /* Chrome, Safari, Opera */
	        -moz-column-count: 1; /* Firefox */
	        column-count: 1;                
	    }
	    
	    .portlet-asset-publisher.default-publisher,
	    .portlet-asset-publisher.event-publisher,
	    .portlet-asset-publisher.project-publisher {
	
		    .asset-more,
		    .asset-summary,
		    .asset-title {
		        clear: left;
		    } 
		}
        
        .lfr-meta-actions,
        .portlet-asset-categories-navigation .portlet-body,
        .portlet-dynamic-data-mapping,
        .portlet-journal,
        .portlet-search {
            width: 100%; /* bootstrap .container */
        }  
    }
    
    @media (min-width: 992px) {
        #navigation .nav-collapse {
            float: right;
        }
	}
    
    .lfr-meta-actions,
    .portlet-asset-categories-navigation .portlet-body,
    .portlet-dynamic-data-mapping,
    .portlet-journal,
    .portlet-search
    {
        margin: auto;
        width: 940px; /* bootstrap .container */
    }
    
    @media (min-width: 1200px) {
        .lfr-meta-actions,
        .portlet-asset-categories-navigation .portlet-body,
        .portlet-dynamic-data-mapping,
        .portlet-journal,
        .portlet-search
        {
            width: 1170px; /* bootstrap .container */
        }
    }
    
    @media (max-width: 979px) and (min-width: 768px) {
        .lfr-meta-actions,
        .portlet-asset-categories-navigation .portlet-body,
        .portlet-dynamic-data-mapping,
        .portlet-journal,
        .portlet-search
        {
            width: 724px; /* bootstrap .container */
        }
    }
}
