/**
 * custom.css: Main CSS of the Flussbad theme.
 * 
 * Created:     2015-08-31 15:40 by Christian Berndt
 * Modified:    2015-09-21 22:31 by Christian Berndt
 * Version:     0.4.9
 */
@import "compass";

@import "mixins";

$button-font-size: 35px;
$button-font-family: 'Amatic SC', cursive;
$color-turquois: #a5edf0;
$default-font-color: #222;
$default-font-family: 'Apercu Regular', Calibri, Roboto, sans-serif; 
$default-font-size: 16px;
$default-font-size-adjust:0.508;
$default-line-height: 20px;
$full-image-height-xl: 720px; 
$full-image-height-l: 640px;
$full-image-height-m: 560px;   
$full-image-height-s: 400px; 
$full-image-width-xl: 1440px; /* bootstrap .container */
$full-image-width-l: 1200px;  /* bootstrap .container */
$full-image-width-m: 980px;   
$full-image-width-s: 768px;   
$h1-font-size: 38.5px;
$lead-font-size: 21px; 
$lead-line-height: 30px; 
$max-width: 744px;
$nav-height: 60px; 
$semi-bold: 600; 

/* Unset input borders set by jQuery */
input {
    border: none; 
}
 
.aui {

    font-family: $default-font-family;
    font-size-adjust: $default-font-size-adjust;
    
    h1,h2,h3,h4,h5,h6 {
        font-weight:$semi-bold;
    }
    
    h2 {
        font-size: 28.5px;
    }

    a:hover, a:focus {
        text-decoration: none;
    }
    
    form {
        margin: 0; 
    }
    
    body {
        font-family: $default-font-family;
/*         background: url("/documents/23321/23608/Idee.png");  */
/*         background: url("/documents/23321/23608/Logbuch.png");  */
/*         background: url("/documents/23321/23608/Projekt.png");  */
/*         background: url("/documents/23321/23608/Story.png");  */
    }
    
    @media (max-width: 767px) {
        body {
            padding:0; 
        }
    }
    
    #wrapper {
        padding: 0;
    }
    
    #content {
        font-size: $default-font-size;
        margin-top: $nav-height;
    }
    
    .signed-in #content {
        margin-top: 120px; 
    }
    
    @media (max-width: 767px) {
        .container {
            padding: 0 20px;
        }
    }
    
/* Dockbar */
    
    .dockbar-user-notifications .dropdown-toggle .user-notifications-count {
        display: inline;
        padding: 2px 4px 2px;
        background-color: #FCF8E3; /* bootstrap alert */
        color: #C09853; /* bootstrap alert */
        border: 1px solid #FBEED5; /* bootstrap alert */
    }
    
    /* Override settings in dockbar.css  */
    /* and display #navigation on phones */
    /* and tablets by default.           */
    @include respond-to(phone, tablet) {
    
        #navigation {
            display: block; /* override settings in dockbar.css */    

            &.open {
                display: block;
            }
        }
    }
    
    .dockbar.navbar-static-top {
        position: fixed;
        z-index: 1040;
    }
    
/* Navigation */
    
    #navigation {
         
        text-transform: uppercase;
        font-size: $default-font-size;
        width: 100%;
        z-index: 10;
                
        .nav-collapse {
            @media (min-width: 980px) {
                float: right;
            }
        }
        
        /* Hide the default page */
        #navCollapse > :first-child {
            display: none; 
        }   
        
        .navbar-inner {
        
            background-color: $color-turquois;
            background-image: none;
            
            -webkit-box-shadow: none;
            -moz-box-shadow: none; 
            box-shadow: none;
            
            border: none;            
        } 
        
        .portlet-site-map {
            float: right;
            font-size: 14px;
            
            ul {
                padding: 20px 0 0; 
                list-style: none;  
            }
            
            li {
                display: inline; 
            }
            
            a {
                padding: 20px 10px; 
                color:$default-font-color;
            }
        }
        
        .language,
        .search {     
            float: right;
            
            a {
                padding: 20px 10px;
            }
        }
        
        .language .portlet-language,
        .search .portlet-search {
            display: none; 
        }       
    }
     
    .navbar {
    
        margin-bottom: 0; 
        
        .brand { 
            padding:18px 40px 18px 20px;
            font-weight: $semi-bold;
            text-shadow: none; 
        } 
        
        .nav { 
        
            > .active a, 
            > .active a:focus, 
            > .active a:hover {
                background-color : transparent;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }

            > li > a {
                padding: 20px 20px;
                text-transform: uppercase;
                text-shadow: none;
            }
            
            > li > a:focus,> li > a:hover{
                color:#333;
            }
        }
        
        .btn-navbar {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            text-shadow: none;
            color: $default-font-color;
        }
        
        .divider-vertical {
            height: $nav-height;
        }
    }
    
    @media (max-width: 767px){
        .navbar-fixed-top, 
        .navbar-fixed-bottom, 
        .navbar-static-top {
            margin: 0; 
        }
    }
        
    .portlet-language .portlet-borderless-container {
        min-height: 1em;
    }
    
    .signed-in #navigation {
        margin-top: 60px;
    }    
    
/* Web Content Templates */
    
    .abstracts {
    
        background: $color-turquois; 
        min-height: 500px;
        text-align: center;   
        
        h1 {
            margin: 80px auto 20px;
            max-width: $max-width; 
            
            a {
                color: white; 
            }
        }
        
        h2 {
            color: gray;
            margin-bottom: 20px; 
        }
        
        h3 {
            text-transform: uppercase;
            color: white;
            font-size: $default-font-size; 
        }
        
        .abstract {
            text-align: center;
            padding: 40px;
        }
        
        .link {
            padding: 40px 0 100px;
            
            .btn {
                color: gray;
                background: white;
                border: none; 
                font-size: $button-font-size; 
                font-family: $button-font-family;
                padding: 15px 25px;
            } 
        }
    }
    
    .carousel {

        margin-bottom: 0; 
    
        .carousel-inner  {
        
            background: lightgray;
            min-height: $full-image-height-l;
            
            @media (min-width: 1200px) { 
                min-height: $full-image-height-xl;  
            }
        
            @media (max-width: 979px) and (min-width: 768px) {
                min-height: $full-image-height-m;              
            }
            
            @media (max-width: 767px) {
                min-height: $full-image-height-s;              
            } 
        }

        .container {
            position: relative;
            z-index: 9;
        }
        
        .carousel-control {
            color: $color-turquois;
            left: 0; 
            margin-top: 0;
            width: 55px;
            font-size: 80px;
            background-color: transparent;
            border: 0;
            z-index: 10;
        }
        
        .carousel-control.right {
            left: auto; 
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
        }
        
        .carousel-caption {
            background-color: transparent;
            position: static;
            max-width: 550px;
            padding: 0 20px;
            margin-top: 200px;
        }
        
        .carousel-caption h1, .carousel-caption .lead {
            margin: 0;
            line-height: 1.25;
            color: #fff;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
        }
        
        .carousel-caption .btn {
            margin-top: 10px;
        }
        
        .item img {
        
            margin: auto; 
        
            width: $full-image-width-l;
            
            @media (min-width: 1200px) { 
                width: $full-image-width-xl; 
            }
        
            @media (max-width: 979px) and (min-width: 768px) {
                width: $full-image-width-m; 
            }
            
            @media (max-width: 767px) {
                width: $full-image-width-s; 
            }
        }
    }   

    .logos {
    
        $logos-height: 120px;
    
        background: #ebebeb;
        height: $logos-height;
        border-top: 5px solid white;
        
        .logos-inner {
        
            text-align: center;
            line-height: $logos-height; /* center the div's content vertically */
            
            a {
                margin: 0 30px;
            }
            
            img {
                width: 180px;
                vertical-align: middle;
                opacity: 0.5;
                
				-webkit-filter: grayscale(100%);
				-webkit-transition: .5s ease-in-out; 
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
				filter: grayscale(100%);
				-moz-transition: .5s ease-in-out;
				-o-filter: grayscale(100%);
				-o-transition: .5s ease-in-out; 
			}
			     
			img:hover {
			
			    opacity: 0.8;
			    
				-webkit-filter: grayscale(0%);
				-webkit-transition: .5s ease-in-out; 
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
				filter: grayscale(0%);
				-moz-transition: .5s ease-in-out;
				-o-filter: grayscale(0%);
				-o-transition: .5s ease-in-out; 
            }  
        }
    }
    
    .story {
        
        .container {
            background: white; 
        }
        
        .content {
            margin: 0 auto 120px; 
                             
            > h1 {
                margin-top: 60px;
            }
        }
    
        .section-body {
        
            margin-bottom: 20px;
        
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
            
            -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
            -moz-column-gap: 20px; /* Firefox */
            column-gap: 20px;
            
        }
        
        @media (max-width: 767px) {
        
            .section-body {           
                -webkit-column-count: 1; /* Chrome, Safari, Opera */
                -moz-column-count: 1; /* Firefox */
                column-count: 1;                
            }
        }        
        
        img {
            margin: 0 0 20px 0; 
        }
    }
    
    .toc {
        position: fixed; 
        margin-top: 60px; /* same as margin-top of main heading */
    }
    
    .signed-in .toc {
        top: 120px;  /* height of dockbar + height of nav + margin-top of .content (see above) */
    }
    
    .story,
    .teaser {

        background-position: center 0; 
        background-repeat: no-repeat;
        background-size: $full-image-width-l;
        min-height: $full-image-height-l;
        
        @media (min-width: 1200px) { 
            background-size: $full-image-width-xl; 
            min-height: $full-image-height-xl;  
        }
    
        @media (max-width: 979px) and (min-width: 768px) {
            background-size: $full-image-width-m; /* bootstrap .container */
            min-height: $full-image-height-m;              
        }
        
        @media (max-width: 767px) {
            background-size: $full-image-width-s; /* bootstrap .container */
            min-height: $full-image-height-s;              
        }       
    }
    
    .teaser {
    
        text-align: center; 
        background-color: lightgray; 

        .wrapper {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);        
        }
        
        h2 {
            max-width: $max-width; 
            margin: auto;
            text-transform: uppercase;
            color: white;
        }
        
        h1 {
            max-width: $max-width; 
            margin: auto; 
            a {
                color: white; 
            }
        }
    }

/* Portlets */

    .portlet-asset-categories-navigation {
    
        width: 100%; 
        z-index: 10;
            
        .accordion {
            margin-bottom: 0; 
        }
    
        .portlet-body .taglib-asset-categories-navigation {
    
            background: #ebeae2;
            min-height: 140px;       
            
            a {
                color: gray;
                padding: 8px 15px;
                border: 1px solid gray; 
                font-size: $default-font-size; 
                text-transform: uppercase;
                margin-right: 15px;
            }
    
            a.tag-selected {
                border: 1px solid white; 
                background: white;
                font-weight: normal;
            }
    
            .tree-view {
                overflow: hidden;
            }
            
            .tree-node-leaf,
            .tree-node-content .tree-label {
                margin: 0; 
            }
            
            .lfr-asset-category-list span {
                padding: 0; 
            }
        
            .accordion-group,
            .accordion-inner {
                border: none; 
                padding: 0;
            }
            
            @media (min-width: 768px) {
                .accordion-inner {
                    margin-left: 40%;
                    width: 60%;
                }
            }
            
            .accordion-heading {
                display: none; 
            }
            
            ul {
                margin: 20px 0;
                float: left; 
            }
            
            li {
                line-height: 50px;
                display: inline;
                float: left; 
                margin: 0; 
                padding: 0; 
            }
        }
    }
    
    .portlet-asset-categories-navigation.affix {
        position: fixed;
        top: $nav-height; 
    }
    
    .portlet-asset-categories-navigation,
    .portlet-asset-categories-navigation.affix-top {
        position: relative;
    }
    
    .signed-in .portlet-asset-categories-navigation.affix {
        top: 120px 
    }

    .portlet-asset-publisher {
        
        .asset-abstract {
            margin-bottom: 0; 
        }
    
        .asset-actions {
            font-size: $default_font_size; 
        }
        
        .asset-content {
            margin-left: 0; 
            font-size: $lead-font-size; 
            line-height: $lead-line-height; 
            padding-bottom: 20px; 
            border-bottom: 4px solid #ebebeb; 
        }
        
        .asset-metadata {
            margin: 8px 0 0 0;
            float: left; 
            text-transform: uppercase;
        }
        
        .asset-more {
            display: inline; 
            font-size: $default-font-size; 
            text-transform: uppercase; 
        }
        
        .asset-more a:before {
            content: "\f054"; /* chevron right */
            font-size: 12px; 
            margin-right: 2px; 
        }
        
        .asset-social-media {
        
            ul {
                display: inline;
                list-style: none; 
                margin-left: 0;  
            }
            
            li {
                display: inline;
                margin-left: 5px;  
            }
        }
        
        .asset-summary {
            display: inline; 
            margin-right: 5px;
        }
        
        .asset-title {
        
            border: none; 
            
            a {
                color: $default-font-color; 
                text-decoration: none; 
            }
            
            img {
                display: none; 
            }
        }
                
        h3 {
            font-size: $h1-font-size;
        }
        
        .metadata-publish-date {
            background: none;
            padding-left: 0; 
        }
        
        .vertical-separator:after {
            content: "/";
            margin: 0 10px;
        }
        
        /** 
            The class vocabualary-title is only
            available when the asset-categories-summary-hook
            is deployed */
        .vocabulary-title { 
            display: none; 
        }        
    }
    
    /** 
     * Limit the 40-60 configuration to specific asset-publishers
     * (those with the class "default-list").
     */
    .portlet-asset-publisher.default-list {
    
        width: 100%;
    
        .asset-abstract {
            padding: 40px 0; 
        }
        
        .asset-abstract.invert {
            
            .asset-content,
            .asset-title a, 
            .metadata-publish-date {
                color: white; 
            }
        }
    }
    
    .portlet-asset-publisher.project-list {
    
        .asset-wrapper {
            background-color: white; 
            padding: 40px 0; 
        }
    }
    
    .portlet-asset-publisher.default-list,
    .portlet-asset-publisher.project-list {
    
        .taglib-categorization-filter.entry-title {
            display: none; 
        }
    
        @media (min-width: 768px) {
        
           .asset-metadata {
                width: 40%;
                clear: none;  
            }   
        
            .asset-content,
            .asset-social-media,
            .asset-title {
                width: 60%; 
                margin-left: 40%;            
            }   
        } 
        
        @media (max-width: 767px) { 
        
            .asset-more,
            .asset-summary,
            .asset-title {
                clear: left;
            }   
        }
    }

    .portlet-asset-publisher.main-story {
    
        .asset-abstract {
            margin-top: 100px;
        }
        
        .asset-content {
            margin: 0 auto;
            border: none;
        }
        
        .asset-metadata {
            text-align: center;
            float: none; 
            min-height: 0;
            margin: 0 auto 20px;   
        }
        
        .asset-metadata span {
            float: none;
        }
        
        .asset-more {
            display: block; 
            text-align: center; 
            margin: 20px auto; 
            line-height: 60px;
            
            a {
                border: 1px solid $default-font-color; 
                color: $default-font-color; 
                font-family: $button-font-family;
                font-size: $button-font-size; 
                padding: 10px 20px; 
                text-decoration: none; 
            }
            
            a:before {
                content: ''; 
            }
        }
        
        .asset-social-media {
            display:none; 
        }
               
        .asset-summary {
            display: block; 
            text-align: center; 
            max-width: 550px; 
            margin: 0 auto 80px; 
        }
               
        .asset-title {        
            text-align: center; 
            margin: 10px auto 40px; 
            max-width: 744px;
        }
        
        .metadata-publish-date {
            background: none;
            color: $default-font-color; 
            padding-left: 0; 
        }
    }
    
    .portlet-asset-publisher.story-publisher {
        .asset-content {
            margin: 0 auto;
            width: 100%;
            border: none; 
        }   
        
        .section {
            font-size: $default-font-size; 
            line-height: $default-line-height; 
        } 
    }
    
    .portlet-search {
    
        .form {
            margin-top: 20px;
        }
        
        #_3_facetNavigation {
            width: 100%; 
            
            li.facet-value {
                float: left; 
            }            
        }
        
        .result {
            width: 100%;
            margin-left: 0;  
        }
    }
    
/* Footer */


    #footer {
    
        background: #ebebeb;
        padding-bottom: 20px;
        
        .container.first {
            padding: 120px 0 80px;
        }
        
        .span4 {
            margin-left: 14px;
            min-height: 280px;
        }
        
        .span4:nth-child(-n+2) {
            border-right: 6px solid #cad3d3;
        }
        
        .copyright {
            text-transform: uppercase; 
        }
        
        .info {
        
            text-align: center; 
            margin-bottom: 25px;
            
            .portlet-site-map, 
            .portlet-borderless-container,
            .portlet-body,
            ul {
                display: inline; 
            }
            
            li {
                display: inline;
            }
            
            ul {
                list-style: none; 
            }   
            
            .portlet-site-map a {
                color: $default-font-color; 
                margin: 20px 10px; 
                text-decoration: underline; 
                text-transform: uppercase; 
            } 
            
            .portlet-site-map {
            
                ul {
                    margin-left: 10px; 
                }
            
                li:before {
                    content: "/";  
                }           
            }           
        }

        
        h1.portlet-title  {
            
            color: $default-font-color;
            font-size: $default-font-size; 
            text-transform: uppercase;
            text-align: center;   
            
            img {
                display:none;
            }
        }
    }  
    

    
/* Liferay UI */
    
    .alert,
    .asset-wrapper,     /* only available, if the asset-display-hook is deployed */
    .lfr-meta-actions,
    .portlet-asset-publisher,
    .portlet-body .taglib-asset-categories-navigation .accordion-group, 
    .portlet-dynamic-data-mapping,
    .portlet-journal,
    .portlet-search
    {
        margin: auto;
        width: 940px; /* bootstrap .container */
    }
    
    @media (min-width: 1200px) {
        .alert,
        .asset-wrapper,     /* only available, if the asset-display-hook is deployed */
        .lfr-meta-actions,
        .portlet-asset-publisher,
        .portlet-body .taglib-asset-categories-navigation .accordion-group, 
        .portlet-dynamic-data-mapping,
        .portlet-journal,
        .portlet-search
        {
            width: 1170px; /* bootstrap .container */
        }
    }
    
    @media (max-width: 979px) and (min-width: 768px) {
        .alert,
        .asset-wrapper,     /* only available, if the asset-display-hook is deployed */
        .lfr-meta-actions,
        .portlet-asset-publisher,
        .portlet-body .taglib-asset-categories-navigation .accordion-group, 
        .portlet-dynamic-data-mapping,
        .portlet-journal,
        .portlet-search
        {
            width: 724px; /* bootstrap .container */
        }
    }
    
    @media (max-width: 767px) {
        .alert,
        .asset-wrapper,     /* only available, if the asset-display-hook is deployed */
        .lfr-meta-actions,
        .portlet-asset-publisher,
        .portlet-body .taglib-asset-categories-navigation .accordion-group, 
        .portlet-dynamic-data-mapping,
        .portlet-journal,
        .portlet-search
        {
            width: 100%; /* bootstrap .container */
        }     
    }
    
    .alert {
        margin-top: 1em;
    }
   
    .lfr-meta-actions {
        margin-bottom: 1em;
    }   
}
