##
## portal_normal.vm: Base Velocity template of the flussbad-theme. Based on 
## the example of portal_normal.vm of Liferay's classic-theme.
##
## Created:     2015-08-31 16:18 by Christian Berndt
## Modified:    2015-10-28 10:10 by Christian Berndt
## Version:     1.1.5
##
<!DOCTYPE html>

#parse ($init)

##
## Read site specific configuration
##

#set ($login_url = $theme_display.getThemeSetting('login-url'))

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
    <title>$the_title - $company_name</title>

    <meta content="initial-scale=1.0, width=device-width" name="viewport" />
        
    ##
    ## load Apercu and Quiltray fonts from fontdeck
    ##
    <script type="text/javascript">
        WebFontConfig = { fontdeck: { id: '59962' } };
        
        (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
    </script>

    $theme.include($top_head_include)
    
    <script src='$javascript_folder/jquery-1.11.3.min.js' type='text/javascript'></script>
    <script src='$javascript_folder/jquery.flexslider-min.js' type='text/javascript'></script>
    
    <!-- Include CSS for Flexslider -->
    <link rel="stylesheet" href="$css_folder/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="$css_folder/font-awesome.min.css" type="text/css" media="screen" />

</head>

#set ($page_type = "default-page")
#if ($nav_items.get(0).isSelected())
    #set ($page_type = "start-page")
#end

<body class="$css_class $page_type" data-spy="scroll" data-target=".toc" data-offset="100">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)
    
#if ($is_signed_in)
    #dockbar()
#end

<div class="container-fluid" id="wrapper">
    <header id="banner" role="banner">
    
        #if ($has_navigation || $is_signed_in)
            #parse ("$full_templates_path/navigation.vm")
        #end
        
    </header>

    <div id="content">

        #if ($selectable)
            $theme.include($content_include)
        #else
            $portletDisplay.recycle()

            $portletDisplay.setTitle($the_title)

            $theme.wrapPortlet("portlet.vm", $content_include)
        #end
    </div>
    
    <footer id="footer" role="contentinfo">
        <div class="container first">
        
            <div class="span6">
            
                ##
                ## Embed the newsletter-registration-portlet
                ##
                         
                ## Show borders
                $velocityPortletPreferences.setValue("portletSetupShowBorders", "true")
               
                ## Set custom-title
                $velocityPortletPreferences.setValue("portletSetupUseCustomTitle", "true")
                $velocityPortletPreferences.setValue("portletSetupTitle_de_DE", "Dranbleiben")
                $velocityPortletPreferences.setValue("portletSetupTitle_en_US", "Dranbleiben")
                $velocityPortletPreferences.setValue("portletSetupTitle_es_ES", "Dranbleiben")
               
                ## Include newsletter-registration-portlet
                $theme.runtime("58", "", $velocityPortletPreferences.toString())
                ## $theme.runtime("NewsletterRegistration_WAR_rcsnewsletterportlet_INSTANCE_RNgf", "", $velocityPortletPreferences.toString())
                
                ## Reset the preferences settings.
                $velocityPortletPreferences.reset()
            </div>
                        
            <div class="span6">
                ##
                ## Embed a configurable web-content-display for the social-media links
                ##
                   
                ## Read service-site-map from configuration    
                #set ($social_article_id = $theme_display.getThemeSetting('social-article-id'))
                #set ($is_configured = $validator.isNotNull($social_article_id))
        
                ## Show borders
                $velocityPortletPreferences.setValue("portletSetupShowBorders", "true")
                
                ## Set custom-title
                $velocityPortletPreferences.setValue("portletSetupUseCustomTitle", "true")
                $velocityPortletPreferences.setValue("portletSetupTitle_de_DE", "Weitersagen")
                $velocityPortletPreferences.setValue("portletSetupTitle_en_US", "Tell others")
                $velocityPortletPreferences.setValue("portletSetupTitle_es_ES", "Tell others")

                ## Set the articleId 
                $velocityPortletPreferences.setValue("articleId", "$social_article_id")
                
                ## Include a web-content-display instance
                #if ($is_configured)
                    $theme.runtime("56_INSTANCE_f6b8", "", $velocityPortletPreferences.toString())
                #end
            </div>
            
        </div>
            
        <div class="container info">
        
            <span class="copyright">&copy; 2015 Flussbad Berlin e.V.</span>
            
            ##
            ## Embed a configurable info-site-map
            ##
               
            ## Read service-site-map from configuration    
            #set ($info_site_map_root_layout_uuid = $theme_display.getThemeSetting('info-site-map-root-layout-uuid'))
            #set ($is_configured = $validator.isNotNull($info_site_map_root_layout_uuid))

            ## Hide borders
            $velocityPortletPreferences.setValue("portletSetupShowBorders", "false")
            
            ## Set the displayDepth 
            $velocityPortletPreferences.setValue("displayDepth", "1")
            
            ## Set the displayDepth 
            $velocityPortletPreferences.setValue("rootLayoutUuid", "$info_site_map_root_layout_uuid")
            
            ## Include a site-map-portlet instance
            #if ($is_configured)
                $theme.runtime("85_INSTANCE_N6bz", "", $velocityPortletPreferences.toString())
            #end
            
            ## Reset the preferences settings.
            $velocityPortletPreferences.reset()
            
        </div>
       
        ##
        ## Embed a configurable web-content-display for the logos
        ##
           
        ## Read service-site-map from configuration    
        #set ($logos_article_id = $theme_display.getThemeSetting('logos-article-id'))
        #set ($is_configured = $validator.isNotNull($logos_article_id))

        ## Hide borders
        $velocityPortletPreferences.setValue("portletSetupShowBorders", "false")
        
        ## Set the articleId 
        $velocityPortletPreferences.setValue("articleId", "$logos_article_id")
        
        ## Include a web-content-display instance
        #if ($is_configured)
            $theme.runtime("56_INSTANCE_N6bg", "", $velocityPortletPreferences.toString())
        #end
        
        ## Reset the preferences settings.
        $velocityPortletPreferences.reset()
        
        <div class="container status">
            <ul>
                <li>#language ("this-page-was-last-rendered") $date.newDate()</li>
                <li>User Agent: $request.getHeader("User-Agent")</li>
            </ul>        
        </div>
                
    </footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

## 
## load required javascripts (main.js is loaded by default)
##
<script src='$javascript_folder/affix.js' type='text/javascript'></script>
<script src='$javascript_folder/scrollspy.js' type='text/javascript'></script>

</body>

</html>