##
## portal_normal.vm: Base Velocity template of the flussbad-theme. Based on 
## the example of portal_normal.vm of Liferay's classic-theme.
##
## Created:     2015-08-31 16:18 by Christian Berndt
## Modified:    2015-09-09 17:38 by Christian Berndt
## Version:     1.0.4
##
<!DOCTYPE html>

#parse ($init)

##
## Read site specific configuration
##

#set ($default_font= $theme_display.getThemeSetting('default-font'))
#set ($login_url = $theme_display.getThemeSetting('login-url'))

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
    <title>$the_title - $company_name</title>

    <meta content="initial-scale=1.0, width=device-width" name="viewport" />
    <link href='$default_font' rel='stylesheet' type='text/css'>

    $theme.include($top_head_include)
        
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
    #dockbar()
#end

<div class="container-fluid" id="wrapper">
    <header id="banner" role="banner">
    
        #if ($has_navigation || $is_signed_in)
            #parse ("$full_templates_path/navigation.vm")
        #end
    </header>

    <div id="content">

        #if ($selectable)
            $theme.include($content_include)
        #else
            $portletDisplay.recycle()

            $portletDisplay.setTitle($the_title)

            $theme.wrapPortlet("portlet.vm", $content_include)
        #end
    </div>
    
    <footer id="footer" role="contentinfo">
        <div class="container first">
        
            <div class="span4">
                TODO: Embed Newsletter Subscription
            </div>
                        
            <div class="span4">
                TODO: Embed Social Media Buttons
            </div>
            
            <div class="span4">
                TODO: Embed Login Portlet
            </div>
        </div>
            
        <div class="container info">
        
            <span class="copyright">&copy; 2015 Flussbad Berlin e.V.</span>
            
            ##
            ## Embed a configurable info-site-map
            ##
               
            ## Read service-site-map from configuration    
            #set ($info_site_map_root_layout_uuid = $theme_display.getThemeSetting('info-site-map-root-layout-uuid'))
            #set ($is_configured = $validator.isNotNull($info_site_map_root_layout_uuid))

            ## Hide borders
            $velocityPortletPreferences.setValue("portletSetupShowBorders", "false")
            
            ## Set the displayDepth 
            $velocityPortletPreferences.setValue("displayDepth", "1")
            
            ## Set the displayDepth 
            $velocityPortletPreferences.setValue("rootLayoutUuid", "$info_site_map_root_layout_uuid")
            
            ## Include a site-map-portlet instance
            #if ($is_configured)
                $theme.runtime("85_INSTANCE_N6bz", "", $velocityPortletPreferences.toString())
            #end
            
            ## Reset the preferences settings.
            $velocityPortletPreferences.reset()
            
        </div>
       
        ##
        ## Embed a configurable web-content-display for the logos
        ##
           
        ## Read service-site-map from configuration    
        #set ($logos_article_id = $theme_display.getThemeSetting('logos-article-id'))
        #set ($is_configured = $validator.isNotNull($logos_article_id))

        ## Hide borders
        $velocityPortletPreferences.setValue("portletSetupShowBorders", "false")
        
        ## Set the articleId 
        $velocityPortletPreferences.setValue("articleId", "$logos_article_id")
        
        ## Include a site-map-portlet instance
        #if ($is_configured)
            $theme.runtime("56_INSTANCE_N6bg", "", $velocityPortletPreferences.toString())
        #end
        
        ## Reset the preferences settings.
        $velocityPortletPreferences.reset()      
        
        <div class="container">
            #if (!$is_signed_in)             
                <a href="$login_url/c/portal/login" title="#language ("sign-in")">#language ("sign-in")</a>
            #else
                <a href="$login_url/c/portal/logout" title="#language ("sign-out")">#language ("sign-out")</a>
            #end
        </div>
                
    </footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>