/**
 * custom.css: Main CSS of the Flussbad theme.
 * 
 * Created:     2015-08-31 15:40 by Christian Berndt
 * Modified:    2015-08-31 15:40 by Christian Berndt
 * Version:     0.0.1
 */
@import "compass";

@import "mixins";
 
.aui {

    font-family: 'Source Sans Pro', sans-serif;
    
    h1,h2,h3,h4,h5,h6 {
        font-weight:600;
    }

    a:hover, a:focus {
        text-decoration: none;
    }
    
    #navigation {
     
        text-transform: uppercase;
        
     }
     
    .navbar { 
        
        .nav { 
        
            > .active a, 
            > .active a:focus, 
            > .active a:hover {
                background-color : #F3F3F3;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }

            > li > a {
                padding: 20px 20px;
                text-transform: uppercase;
            }

        }
        
        .btn-navbar {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            text-shadow: none;
            color: #555;
        }
        
        .divider-vertical {
            height: 60px;
        }

    }
    
}